@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-offset-3">
    @*<div class="portlet-body">

        <img src="~/assets/admin/layout/img/log-fcis1.jpg" alt="FCIS" />
    </div>*@
   >

    @*<img src="@Url.Action("TAChart") " alt="SimpleChart" />

    </div>*@

</div>